body {
    margin: 0;
    background: linear-gradient(to bottom right, #86A8E7, #91EAE4);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 1400px;
    height: 100%;
    margin: 2rem auto;
    border: 2px solid blue;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /* Small margin from the container's top */
}

.navbar a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.navbar a:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar img {
    max-height: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.row {
    display: flex;
    justify-content: center;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}

.row div {
    padding: 1rem;
}
image {
	width:30%;
}