<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <!-- Add any additional CSS or styling here -->
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        /* Add more styles as needed */
    </style>
</head>

<body>


	<h2>Create patchNote</h2>
		<form th:action="@{/createPatchNote}" th:method="post" th:object="${patchNotesEntity}">
          	<div class="input-section">
            <label for="body">body:</label>
            <input type="text" id="body" th:field="*{body}" required>
            
            <label for="version">version:</label>
            <input type="text" id="version" th:field="*{version}" required>
            <label for="patchType">patchType:</label>
            <input type="text" id="language" th:field="*{patchType}" required>
            <button type="submit">Create Post</button>
             </div>
  		</form>
	<h2>Users</h2>
    <div th:action="@{/adminpage}" th:method="get" th:object="${userEntity}">

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>password</th>
                    <th>Role</th>
                    <th>Update - Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${listUsers}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.role}"></td>
                    <td>
                    	<a th:href="@{/users/edit/{id}(id=${user.id})}">Update</a>
                        <a th:href="@{/deleteUser/{id}(id=${user.id})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2>Forums</h2>
                <div class="forum-posts">
                <table border="1">
                    <thead>
                        <tr>
                            <th>View Details</th>
                            <th>Title</th>
                            <th>Language</th>
                            <th>Created By</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post : ${posts}">
                            <td>
                                <a th:href="@{/post/{postId}(postId=${post.id})}">View Details</a>
                            </td>
                            <td th:text="${post.title}"></td>
                            <td th:text="${post.language}"></td>
                            <td th:text="${post.createdBy.username}"></td>
					<td>
                        <a th:href="@{/deletePost/{id}(id=${post.id})}">Delete</a>
                    </td>
                        </tr>
                    </tbody>
                </table>
            </div>

</body>

</html>
