<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

    <form th:action="@{/login}" method="post">

        <!-- name=""  Is VERY important... -->
        <label for="username">username</label>
        <input name="username" placeholder="username..." type="text" id="username" required autofocus>

        <label for="password">password</label>
        <input name="password" placeholder="password..." type="password" id="password" required>

        <label for="remember-me">Remember-me</label>
        <input name="remember-me" type="checkbox" id="remember-me">

        <button type="submit">LOGIN</button>

        <!-- Check this out later! -->
        <div th:if="${param.error}">
            <p class="text-danger">
                [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>

    </form>







</body>
</html>