<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Update</title>
</head>

<body>

    <h1>User Update</h1>

    <form th:action="@{/users/update}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}" />
        
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" />

        <label for="role">Role:</label>
        <select id="role" th:field="*{role}">
            <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
        </select>

        <button type="submit">Update User</button>
    </form>
    
    

</body>

</html>
